<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="/">Sports Cafe</a>
			</div>	
			<div class="navbar-collapse collapse">
				<script type="text/x-handlebars-template" id="sc_navbar">
					<ul class="nav navbar-nav navbar-right">
						{{#each links}}
  							<li><a href="{{url}}">{{title}}</a></li>
  						{{/each}}
					</ul>
				</script>
			</div>	
		</div>
	</nav>
    <div id="sc_live_scorecard_a"></div>
    <script type="text/x-handlebars-template" type="hidden" id="sc_live_scorecard">

			<div class="col-md-12"  >
				<div class="col-md-4">
					<div class="team" style="color:black;">
						{{teamname_1}}
					</div>
					<button type="button" class="btn btn-primary team1_plus"> + </button>
					<button type="button" class="btn btn-primary team1_minus"> - </button>
				</div>
				<div class="col-md-4">
					<div class="score" style="color:black;">
							{{points_1}}-{{points_2}}
					</div>
				</div>
				<div class="col-md-4">
					<div class="team" style="color:black;">
						{{teamname_2}}
					</div>
					<button type="button" class="btn btn-primary team2_plus"> + </button>
					<button type="button" class="btn btn-primary team2_minus"> - </button>
				</div>
				<button type="button" class="btn btn-primary submit"> update </button>
			</div>
		</script>


</body>

<script type="text/javascript" src="./build/bundle.js"></script>
<script>
	
</script>
</html>
