<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="/">Sports Cafe</a>
			</div>	
			<div class="navbar-collapse collapse">
				<script type="text/x-handlebars-template" id="sc_navbar">
					<ul class="nav navbar-nav navbar-right">
						{{#each links}}
  							<li><a href="{{url}}">{{title}}</a></li>
  						{{/each}}
					</ul>
				</script>
			</div>	
		</div>
	</nav>
</body>
</html>