@font-face {
    font-family: font;
    src: url(font.otf);
}
html,body{
	width: 100%;
	height: 100%;
	overflow-y: none;
}
#sc_sports{
	background-color: #100F0F;
	border:#420707;
}
#sc_navbar{
	display: block;
}
#sc_live_scorecard_a{
	background-color: transparent;
	text-align: center;
	line-height: 150px;
}

#sc_box{
	background-color:#272929;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 0px;
	border:0px;
}
.sc_box_tag{
	color: wheat;
	font-size: 26px;
}
#sc_newsfeed{
	background-color: #272929;
}
#sc_newsfeed_topic{
	color:#92C6E0;	
}
#sc_newsfeed_image{
	background-color: #222222;
}
#sc_newsfeed_info{
	color:white;
	font-size: 20px;
}
.team{
	height: 150px;
	color: white;
	font-weight: normal;
	font-size: 24px;
}
.team_content{
	text-align:center; 
	line-height:150px;
}
.score{
	background: transparent;
	color:white;
}
.sidebar_wrapper{
	background-color: #222222;
	color:white;
	text-align: center;
}
.sidebar_header{
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 53px;
}
.sidebar_navigation{
	position: relative;
	width: 100%;
	height: 53px;
}
.sidebar_navigation_wrapper{
	border-top:1px solid #d1dce6;
	border-bottom:1px solid #d1dce6;
}
.sidebar_navigation_content{
	width: 100%;
	text-align: center;
	position: relative;
	height: 45px;
	line-height: 45px;
	background:#222222;
	padding-bottom: 20px;
	border-top:1px solid #fff;
	border-bottom: 1px solid #fff;
}
.sidebar_prev{
	left:0;
	position: absolute;
	width: 43px;
	height: 43px;
	cursor: pointer;
}
.sidebar_next{
	right:0;
	position: absolute;
	width: 43px;
	height: 43px;
	cursor: pointer;
}
.sidebar_prev  .sidebar_arrow{
	display: inline-block;
	width: 0;
	height: 0;
	margin: 17px;
	border-style: solid;
	border-width: 4px 10px 4px 0px;
	border-color:transparent white transparent transparent;
}
.sidebar_next  .sidebar_arrow{
	display: inline-block;
	width: 0;
	height: 0;
	margin: 17px;
	border-style: solid;
	border-width: 4px 0px 4px 10px;
	border-color:transparent transparent transparent white;
}
.sidebar_content{
	width: 100%;
	text-align: center;
	position: relative;
	height: 53px;
	border-top:1px solid #716D6D;
	border-bottom: 1px solid #716D6D;
}

.navbar{
	min-height: 60px;
	margin-bottom: 0px;
	border-radius:0px;
}
